# data from cars24

In [2]:
import selenium
from selenium import webdriver
from selenium.common.exceptions import ElementNotInteractableException,NoSuchElementException
import time
import warnings
warnings.filterwarnings('ignore')

In [103]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

url='https://www.cars24.com/'
driver.get(url)

In [104]:
#selecting location or city 
click_on_location=driver.find_element_by_xpath('/html/body/div[1]/div[6]/div/div/div/div[2]/div[2]/button')

click_on_location.click()

In [105]:
#selecting hyderabad
hyd=driver.find_element_by_xpath('/html/body/div[1]/div[6]/div/div/div/div[2]/ul/li[7]')
hyd.click()

In [108]:
#clicking on view_all button
view_cars=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[2]/div/span')
view_cars.click()

In [109]:
#scroll buttom of the page
driver.execute_script("window.scrollTo(0, document.body.scrollHeight)")

In [110]:
#url
urls=[]

url=driver.find_elements_by_xpath('//a[@class="_9Ue0B"]')

for i in url:
    urls.append(i.get_attribute('href'))

In [111]:
len(urls)

161

In [112]:
urls[3:5]

['https://www.cars24.com/buy-used-hyundai-verna-2013-cars-hyderabad-1044840362/',
 'https://www.cars24.com/buy-used-maruti-alto-k10-2015-cars-hyderabad-1049278623/']

In [118]:
len(transmission)

161

In [ ]:
#location hyderabad

In [113]:
price=[]
name=[]
owner=[]
kilometers_driven=[]
fuel_type=[]
history=[]
transmission=[]

for url in urls:
    driver.get(url)
    time.sleep(2)
    try:
        nm = driver.find_element_by_xpath('//h2[@class="_2geSF"]')      # Extracting name from xpath
        name.append(nm.text)
    except NoSuchElementException:
        name.append('-')
        
    #price
    time.sleep(1)
    try:
        prc=driver.find_element_by_xpath('//strong[@class="_2yYvS Wqfj6"]')
        price.append(prc.text)
    except NoSuchElementException:
        price.append('-')
        
    #history
    time.sleep(1)
    try:
        hst=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[1]/strong')
        history.append(hst.text)
    except NoSuchElementException:
        history.append('-')
    
    #owner
    time.sleep(1)
    try:
        ownr=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[2]/strong')
        owner.append(ownr.text)
    except NoSuchElementException:
        owner.append('-')
    
    #kilomters driven
    time.sleep(1)
    try:
        klm=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[3]/strong')
        kilometers_driven.append(klm.text)
    except NoSuchElementException:
        kilometers_driven.append('-')
        
    #fuel type
    time.sleep(1)
    try:
        fl=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[4]/strong')
        fuel_type.append(fl.text)
    except NoSuchElementException:
        fuel_type.append('-')
    
    #transmission
    time.sleep(1)
    try:
        trsn=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[6]/strong')
        transmission.append(trsn.text)
    except NoSuchElementException:
        transmission.append('-')

In [213]:
cars_data=pd.DataFrame({'name':name,'fuel_type':fuel_type,'history':history,'transmission':transmission,'kilometers_driven':kilometers_driven,'owner':owner,'price':price})
cars_data

,name,fuel_type,history,transmission,kilometers_driven,owner,price
0,2016 Ford New Figo 1.5 TITANIUM + MANUAL,Diesel,Non-Accidental,MANUAL,"91,231 km",1st Owner,"Fixed Price\n₹4,86,299"
1,2015 Maruti Ciaz VXI PLUS MANUAL,Petrol,Non-Accidental,MANUAL,"92,212 km",2nd Owner,"Fixed Price\n₹6,04,199"
2,2009 Toyota Corolla Altis VL AT AUTOMATIC,Petrol,Non-Accidental,AUTOMATIC,"95,760 km",2nd Owner,"Fixed Price\n₹6,33,799"
3,2013 Hyundai Verna FLUIDIC 1.6 SX CRDI MANUAL,Diesel,Non-Accidental,MANUAL,"49,854 km",1st Owner,"Fixed Price\n₹6,01,599"
4,2015 Maruti Alto K10 VXI MANUAL,Petrol,Non-Accidental,MANUAL,"2,35,016 km",1st Owner,"Fixed Price\n₹2,69,299"
...,...,...,...,...,...,...,...
156,2016 Maruti Celerio VXI MANUAL,Petrol,Non-Accidental,MANUAL,"33,792 km",1st Owner,"Fixed Price\n₹3,92,999"
157,2018 Maruti Dzire VXI MANUAL,Petrol,Non-Accidental,MANUAL,"27,786 km",1st Owner,"Fixed Price\n₹6,78,799"
158,2020 Toyota YARIS J MT MANUAL,Petrol,Non-Accidental,MANUAL,"19,656 km",1st Owner,"Fixed Price\n₹8,74,099"
159,2012 Maruti Swift Dzire VDI BS IV MANUAL,Diesel,Non-Accidental,MANUAL,"1,22,198 km",1st Owner,"Fixed Price\n₹4,60,599"
160,2015 Toyota Etios Liva G MANUAL,Petrol,Non-Accidental,MANUAL,"78,776 km",1st Owner,"Fixed Price\n₹4,28,599"

In [214]:
cars_data.to_csv('hyd_cars24')

# location bengalore

In [24]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

url='https://www.cars24.com/'
driver.get(url)

In [25]:
#selecting location or city 
select_manual_location=driver.find_element_by_xpath('/html/body/div[1]/div[6]/div/div/div/div[2]/div[2]/button')

select_manual_location.click()

In [26]:
#selecting hyderabad
mumbai=driver.find_element_by_xpath('/html/body/div[1]/div[6]/div/div/div/div[2]/ul/li[4]')
mumbai.click()

In [27]:
#clicking on view_all button
view_cars=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[2]/div/span')
view_cars.click()

In [28]:
#scroll buttom of the page
driver.execute_script("window.scrollTo(0, document.body.scrollHeight)")
time.sleep(3)

In [29]:
#url
urls2=[]

url=driver.find_elements_by_xpath('//a[@class="_9Ue0B"]')

for i in url:
    urls2.append(i.get_attribute('href'))

In [30]:
len(urls2)

699

In [33]:
len(variant)

699

In [31]:
price=[]
name=[]
owner=[]
kilometers_driven=[]
fuel_type=[]
history=[]
transmission=[]
variant=[]

for url in urls2:
    driver.get(url)
    time.sleep(1)
    try:
        nm = driver.find_element_by_xpath('//h2[@class="_2geSF"]')      # Extracting name from xpath
        name.append(nm.text)
    except NoSuchElementException:
        name.append('-')
        
    #price
    time.sleep(0.5)
    try:
        prc=driver.find_element_by_xpath('//strong[@class="_2yYvS Wqfj6"]')
        price.append(prc.text)
    except NoSuchElementException:
        price.append('-')
        
    time.sleep(0.5)
    try:
        varnt = driver.find_element_by_xpath('//span[@class="_18vo2"]')     # Extracting variant from xpath
        variant.append(varnt.text)
    except NoSuchElementException:
        variant.append('-')
        
    #history
    time.sleep(0.5)
    try:
        hst=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[1]/strong')
        history.append(hst.text)
    except NoSuchElementException:
        history.append('-')
    
    #owner
    time.sleep(0.5)
    try:
        ownr=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[2]/strong')
        owner.append(ownr.text)
    except NoSuchElementException:
        owner.append('-')
    
    #kilomters driven
    time.sleep(0.5)
    try:
        klm=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[3]/strong')
        kilometers_driven.append(klm.text)
    except NoSuchElementException:
        kilometers_driven.append('-')
        
    #fuel type
    time.sleep(0.5)
    try:
        fl=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[4]/strong')
        fuel_type.append(fl.text)
    except NoSuchElementException:
        fuel_type.append('-')
    
    #transmission
    time.sleep(0.5)
    try:
        trsn=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[6]/strong')
        transmission.append(trsn.text)
    except NoSuchElementException:
        transmission.append('-')

In [34]:
import pandas as pd
mumbai_cars24=pd.DataFrame({'name':name,'variant':variant,'fuel_type':fuel_type,'history':history,'kilometers_driven':kilometers_driven,'transmission':transmission,'owner':owner,'price':price})
mumbai_cars24

,name,variant,fuel_type,history,kilometers_driven,transmission,owner,price
0,2014 Honda Amaze 1.2 SMT I VTEC MANUAL,1.2 SMT I VTEC MANUAL,Petrol,Non-Accidental,"53,178 km",MANUAL,1st Owner,"Fixed Price\n₹4,13,999"
1,2019 Honda Amaze 1.2 SMT I VTEC MANUAL,1.2 SMT I VTEC MANUAL,Petrol,Non-Accidental,"9,023 km",MANUAL,1st Owner,"Fixed Price\n₹6,36,599"
2,2019 Maruti Dzire VXI AMT AUTOMATIC,VXI AMT AUTOMATIC,Petrol,Non-Accidental,"31,248 km",AUTOMATIC,1st Owner,"Fixed Price\n₹7,14,299"
3,2019 Honda Amaze VX AT I DTEC AUTOMATIC,VX AT I DTEC AUTOMATIC,Diesel,Non-Accidental,"24,889 km",AUTOMATIC,2nd Owner,"Fixed Price\n₹8,06,699"
4,2017 Ford Ecosport 1.5 TITANIUM TI VCT AT AUTO...,1.5 TITANIUM TI VCT AT AUTOMATIC,Petrol,Non-Accidental,402 km,AUTOMATIC,1st Owner,"Fixed Price\n₹8,44,999"
...,...,...,...,...,...,...,...,...
694,2019 Maruti Alto K10 VXI MANUAL,VXI MANUAL,Petrol,Non-Accidental,"15,222 km",MANUAL,1st Owner,"Fixed Price\n₹3,94,899"
695,2018 Maruti Alto 800 LXI OPT MANUAL,LXI OPT MANUAL,Petrol,Non-Accidental,"10,608 km",MANUAL,1st Owner,"Fixed Price\n₹3,14,399"
696,2018 Honda BR-V 1.5 i-VTEC V CVT AUTOMATIC,1.5 i-VTEC V CVT AUTOMATIC,Petrol,Non-Accidental,"21,231 km",AUTOMATIC,1st Owner,"Fixed Price\n₹10,09,999"
697,2011 Mercedes Benz E Class E 250 CDI ELEGANCE ...,E 250 CDI ELEGANCE AUTOMATIC,Diesel,Non-Accidental,"77,546 km",AUTOMATIC,2nd Owner,"Fixed Price\n₹11,28,099"
698,2019 Maruti Vitara Brezza VDI MANUAL,VDI MANUAL,Diesel,Non-Accidental,"17,395 km",MANUAL,1st Owner,"Fixed Price\n₹8,38,699"

In [35]:
mumbai_cars24.to_csv('cars24_mumbai')

In [36]:
data=pd.read_csv('cars24_mumbai')
data.head()

,Unnamed: 0,name,variant,fuel_type,history,kilometers_driven,transmission,owner,price
0,0,2014 Honda Amaze 1.2 SMT I VTEC MANUAL,1.2 SMT I VTEC MANUAL,Petrol,Non-Accidental,"53,178 km",MANUAL,1st Owner,"Fixed Price\n₹4,13,999"
1,1,2019 Honda Amaze 1.2 SMT I VTEC MANUAL,1.2 SMT I VTEC MANUAL,Petrol,Non-Accidental,"9,023 km",MANUAL,1st Owner,"Fixed Price\n₹6,36,599"
2,2,2019 Maruti Dzire VXI AMT AUTOMATIC,VXI AMT AUTOMATIC,Petrol,Non-Accidental,"31,248 km",AUTOMATIC,1st Owner,"Fixed Price\n₹7,14,299"
3,3,2019 Honda Amaze VX AT I DTEC AUTOMATIC,VX AT I DTEC AUTOMATIC,Diesel,Non-Accidental,"24,889 km",AUTOMATIC,2nd Owner,"Fixed Price\n₹8,06,699"
4,4,2017 Ford Ecosport 1.5 TITANIUM TI VCT AT AUTO...,1.5 TITANIUM TI VCT AT AUTOMATIC,Petrol,Non-Accidental,402 km,AUTOMATIC,1st Owner,"Fixed Price\n₹8,44,999"

In [ ]:
#cars from delhi

In [21]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

url='https://www.cars24.com/'
driver.get(url)

In [22]:
#selecting location or city 
select_manual_location=driver.find_element_by_xpath('/html/body/div[1]/div[6]/div/div/div/div[2]/div[2]/button')

select_manual_location.click()

In [23]:
#selecting delhi location
delhi=driver.find_element_by_xpath('/html/body/div[1]/div[6]/div/div/div/div[2]/ul/li[1]')
delhi.click()

In [24]:
#clicking on view_all button
view_cars=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[2]/div/span')
view_cars.click()

In [25]:
#scroll buttom of the page
driver.execute_script("window.scrollTo(0, document.body.scrollHeight)")
time.sleep(30)

In [26]:
#url
urls3=[]

url=driver.find_elements_by_xpath('//a[@class="_9Ue0B"]')

for i in url:
    urls3.append(i.get_attribute('href'))

In [27]:
len(urls3)

685

In [13]:
len(price)

241

In [29]:
price=[]
name=[]
owner=[]
kilometers_driven=[]
fuel_type=[]
history=[]
transmission=[]
variant=[]

def car24_delhi(clf):
    
    for url in clf:
        driver.get(url)
        time.sleep(1)
        try:
            nm = driver.find_element_by_xpath('//h2[@class="_2geSF"]')      # Extracting name from xpath
            name.append(nm.text)
        except NoSuchElementException:
            name.append('-')        
        #price
        time.sleep(1)
        try:
            prc=driver.find_element_by_xpath('//strong[@class="_2yYvS Wqfj6"]')
            price.append(prc.text)
        except NoSuchElementException:
            price.append('-')
        
        time.sleep(1)
        try:
            varnt = driver.find_element_by_xpath('//span[@class="_18vo2"]')     # Extracting variant from xpath
            variant.append(varnt.text)
        except NoSuchElementException:
            variant.append('-')
        
        #history
        time.sleep(3)
        try:
            hst=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[1]/strong')
            history.append(hst.text)
        except NoSuchElementException:
            history.append('-')    
        #owner
        time.sleep(1)
        try:
            ownr=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[2]/strong') 
            owner.append(ownr.text)
        except NoSuchElementException:
            owner.append('-')
        #kilomters driven
        time.sleep(1)
        try:
            klm=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[3]/strong')
            kilometers_driven.append(klm.text)
        except NoSuchElementException:
            kilometers_driven.append('-')
        #fuel type
        time.sleep(1)
        try:
            fl=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[4]/strong')
            fuel_type.append(fl.text)
        except NoSuchElementException:
            fuel_type.append('-')
        #transmission
        time.sleep(1)
        try:
            trsn=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[6]/strong')
            transmission.append(trsn.text)
        except NoSuchElementException:
            transmission.append('-')

In [43]:
urls3_100=urls3[0:100]
urls3_200=urls3[100:200]
urls3_300=urls3[200:350]
urls3_450=urls3[350:450]

In [30]:
car24_delhi(urls3_100)

In [32]:
car24_delhi(urls3_200)

In [35]:
car24_delhi(urls3_300)

In [40]:
import pandas as pd
delhi_cars24=pd.DataFrame({'name':name,'variant':variant,'fuel_type':fuel_type,'history':history,'kilometers_driven':kilometers_driven,'transmission':transmission,'owner':owner,'price':price})
delhi_cars24

,name,variant,fuel_type,history,kilometers_driven,transmission,owner,price
0,2014 Mahindra Thar CRDE 4X4 BS IV MANUAL,CRDE 4X4 BS IV MANUAL,Diesel,Non-Accidental,"68,467 km",MANUAL,1st Owner,"Fixed Price\n₹5,22,599"
1,2014 Maruti Swift Dzire VDI BS IV MANUAL,VDI BS IV MANUAL,Diesel,Non-Accidental,"98,109 km",MANUAL,1st Owner,"Fixed Price\n₹4,16,399"
2,2015 Maruti Swift VDI ABS MANUAL,VDI ABS MANUAL,Diesel,Non-Accidental,"45,785 km",MANUAL,1st Owner,"Fixed Price\n₹4,32,499"
3,2013 Hyundai i20 SPORTZ 1.4 CRDI MANUAL,SPORTZ 1.4 CRDI MANUAL,Diesel,Non-Accidental,"64,543 km",MANUAL,1st Owner,"Fixed Price\n₹3,64,899"
4,2014 Maruti Swift VXI MANUAL,VXI MANUAL,Petrol,Non-Accidental,"1,07,946 km",MANUAL,1st Owner,"Fixed Price\n₹3,92,399"
...,...,...,...,...,...,...,...,...
431,2019 Maruti Baleno DELTA 1.2 K12 MANUAL,DELTA 1.2 K12 MANUAL,Petrol,Non-Accidental,"26,019 km",MANUAL,1st Owner,"Fixed Price\n₹6,89,199"
432,2013 Maruti Swift VDI MANUAL,VDI MANUAL,Diesel,Non-Accidental,"1,20,466 km",MANUAL,1st Owner,"Fixed Price\n₹3,04,299"
433,2015 Toyota Etios VX D MANUAL,VX D MANUAL,Diesel,Non-Accidental,"77,766 km",MANUAL,1st Owner,"Fixed Price\n₹4,80,499"
434,2019 Hyundai Creta 1.4 S CRDI MANUAL,1.4 S CRDI MANUAL,Diesel,Non-Accidental,"70,873 km",MANUAL,1st Owner,"Fixed Price\n₹10,48,699"
435,2019 Maruti Vitara Brezza VDI MANUAL,VDI MANUAL,Diesel,Non-Accidental,"50,192 km",MANUAL,1st Owner,"Fixed Price\n₹7,57,899"

In [44]:
car24_delhi(urls3_450)

In [53]:
len(price) #scrapped 100 records are appended previous lists so we have already dataframe delhi_cars24 i have to add this 100 records of the column to existing dataframe

536

In [54]:
delhi_cars24_450=pd.DataFrame({'name':name,'variant':variant,'fuel_type':fuel_type,'history':history,'kilometers_driven':kilometers_driven,'transmission':transmission,'owner':owner,'price':price})
delhi_cars24_450

,name,variant,fuel_type,history,kilometers_driven,transmission,owner,price
0,2014 Mahindra Thar CRDE 4X4 BS IV MANUAL,CRDE 4X4 BS IV MANUAL,Diesel,Non-Accidental,"68,467 km",MANUAL,1st Owner,"Fixed Price\n₹5,22,599"
1,2014 Maruti Swift Dzire VDI BS IV MANUAL,VDI BS IV MANUAL,Diesel,Non-Accidental,"98,109 km",MANUAL,1st Owner,"Fixed Price\n₹4,16,399"
2,2015 Maruti Swift VDI ABS MANUAL,VDI ABS MANUAL,Diesel,Non-Accidental,"45,785 km",MANUAL,1st Owner,"Fixed Price\n₹4,32,499"
3,2013 Hyundai i20 SPORTZ 1.4 CRDI MANUAL,SPORTZ 1.4 CRDI MANUAL,Diesel,Non-Accidental,"64,543 km",MANUAL,1st Owner,"Fixed Price\n₹3,64,899"
4,2014 Maruti Swift VXI MANUAL,VXI MANUAL,Petrol,Non-Accidental,"1,07,946 km",MANUAL,1st Owner,"Fixed Price\n₹3,92,399"
...,...,...,...,...,...,...,...,...
531,2019 Maruti Vitara Brezza VDI MANUAL,VDI MANUAL,Diesel,Non-Accidental,"24,494 km",MANUAL,2nd Owner,"Fixed Price\n₹8,08,499"
532,2019 Maruti Ciaz ALPHA 1.3 DDIS SHVS MANUAL,ALPHA 1.3 DDIS SHVS MANUAL,Diesel,Non-Accidental,"76,026 km",MANUAL,1st Owner,"Fixed Price\n₹8,71,699"
533,2018 Maruti Baleno DELTA 1.2 K12 MANUAL,DELTA 1.2 K12 MANUAL,Petrol,Non-Accidental,"23,312 km",MANUAL,3rd Owner,"Fixed Price\n₹5,48,499"
534,2017 Hyundai Grand i10 Sportz1.2 CRDI MANUAL,Sportz1.2 CRDI MANUAL,Diesel,Non-Accidental,"48,220 km",MANUAL,1st Owner,"Fixed Price\n₹4,93,399"
535,2013 Maruti Swift VDI MANUAL,VDI MANUAL,Diesel,Non-Accidental,"49,220 km",MANUAL,1st Owner,"Fixed Price\n₹3,48,599"

In [55]:
#deleting duplicate records

delhi_cars=delhi_cars24_450.drop_duplicates()
len(delhi_cars)

450

In [56]:
delhi_cars=delhi_cars.to_csv('delhi_cars24')

In [57]:
data=pd.read_csv('delhi_cars24')
data

,Unnamed: 0,name,variant,fuel_type,history,kilometers_driven,transmission,owner,price
0,0,2014 Mahindra Thar CRDE 4X4 BS IV MANUAL,CRDE 4X4 BS IV MANUAL,Diesel,Non-Accidental,"68,467 km",MANUAL,1st Owner,"Fixed Price\n₹5,22,599"
1,1,2014 Maruti Swift Dzire VDI BS IV MANUAL,VDI BS IV MANUAL,Diesel,Non-Accidental,"98,109 km",MANUAL,1st Owner,"Fixed Price\n₹4,16,399"
2,2,2015 Maruti Swift VDI ABS MANUAL,VDI ABS MANUAL,Diesel,Non-Accidental,"45,785 km",MANUAL,1st Owner,"Fixed Price\n₹4,32,499"
3,3,2013 Hyundai i20 SPORTZ 1.4 CRDI MANUAL,SPORTZ 1.4 CRDI MANUAL,Diesel,Non-Accidental,"64,543 km",MANUAL,1st Owner,"Fixed Price\n₹3,64,899"
4,4,2014 Maruti Swift VXI MANUAL,VXI MANUAL,Petrol,Non-Accidental,"1,07,946 km",MANUAL,1st Owner,"Fixed Price\n₹3,92,399"
...,...,...,...,...,...,...,...,...,...
445,531,2019 Maruti Vitara Brezza VDI MANUAL,VDI MANUAL,Diesel,Non-Accidental,"24,494 km",MANUAL,2nd Owner,"Fixed Price\n₹8,08,499"
446,532,2019 Maruti Ciaz ALPHA 1.3 DDIS SHVS MANUAL,ALPHA 1.3 DDIS SHVS MANUAL,Diesel,Non-Accidental,"76,026 km",MANUAL,1st Owner,"Fixed Price\n₹8,71,699"
447,533,2018 Maruti Baleno DELTA 1.2 K12 MANUAL,DELTA 1.2 K12 MANUAL,Petrol,Non-Accidental,"23,312 km",MANUAL,3rd Owner,"Fixed Price\n₹5,48,499"
448,534,2017 Hyundai Grand i10 Sportz1.2 CRDI MANUAL,Sportz1.2 CRDI MANUAL,Diesel,Non-Accidental,"48,220 km",MANUAL,1st Owner,"Fixed Price\n₹4,93,399"
449,535,2013 Maruti Swift VDI MANUAL,VDI MANUAL,Diesel,Non-Accidental,"49,220 km",MANUAL,1st Owner,"Fixed Price\n₹3,48,599"

In [ ]:
#noida

In [20]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

url='https://www.cars24.com/'
driver.get(url)

In [21]:
#selecting location or city 
select_manual_location=driver.find_element_by_xpath('/html/body/div[1]/div[6]/div/div/div/div[2]/div[2]/button')

select_manual_location.click()

In [22]:
#selecting delhi location
noida=driver.find_element_by_xpath('/html/body/div[1]/div[6]/div/div/div/div[2]/ul/li[2]')
noida.click()

In [23]:
#clicking on view_all button
view_cars=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[2]/div/span')
view_cars.click()

In [24]:
#scroll buttom of the page
driver.execute_script("window.scrollTo(0, document.body.scrollHeight)")
time.sleep(30)

In [7]:
#url
urls4=[]

url=driver.find_elements_by_xpath('//a[@class="_9Ue0B"]')

for i in url:
    urls4.append(i.get_attribute('href'))

In [8]:
len(urls4)

679

In [9]:
price=[]
name=[]
owner=[]
kilometers_driven=[]
fuel_type=[]
history=[]
transmission=[]
variant=[]

def car24_noida(clf):
    
    for url in clf:
        driver.get(url)
        time.sleep(1)
        try:
            nm = driver.find_element_by_xpath('//h2[@class="_2geSF"]')      # Extracting name from xpath
            name.append(nm.text)
        except NoSuchElementException:
            name.append('-')        
        #price
        time.sleep(1)
        try:
            prc=driver.find_element_by_xpath('//strong[@class="_2yYvS Wqfj6"]')
            price.append(prc.text)
        except NoSuchElementException:
            price.append('-')
        
        time.sleep(1)
        try:
            varnt = driver.find_element_by_xpath('//span[@class="_18vo2"]')     # Extracting variant from xpath
            variant.append(varnt.text)
        except NoSuchElementException:
            variant.append('-')
        
        #history
        time.sleep(3)
        try:
            hst=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[1]/strong')
            history.append(hst.text)
        except NoSuchElementException:
            history.append('-')    
        #owner
        time.sleep(1)
        try:
            ownr=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[2]/strong') 
            owner.append(ownr.text)
        except NoSuchElementException:
            owner.append('-')
        #kilomters driven
        time.sleep(1)
        try:
            klm=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[3]/strong')
            kilometers_driven.append(klm.text)
        except NoSuchElementException:
            kilometers_driven.append('-')
        #fuel type
        time.sleep(1)
        try:
            fl=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[4]/strong')
            fuel_type.append(fl.text)
        except NoSuchElementException:
            fuel_type.append('-')
        #transmission
        time.sleep(1)
        try:
            trsn=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[6]/strong')
            transmission.append(trsn.text)
        except NoSuchElementException:
            transmission.append('-')

In [15]:
urls4_100=urls4[0:100]
urls4_200=urls4[100:200]
urls4_350=urls4[200:350]
urls4_400=urls4[350:400]
urls4_500=urls4[400:500]

In [113]:
car24_noida(urls4_100)

In [115]:
car24_noida(urls4_200)

In [118]:
car24_noida(urls4_350)

In [122]:
len(price)

410

In [19]:
len(price)#here 50 recrods are have to be added to the data frame

264

In [14]:
car24_noida(urls4_400)

In [133]:
noida_cars24=pd.DataFrame({'name':name,'variant':variant,'fuel_type':fuel_type,'history':history,'kilometers_driven':kilometers_driven,'transmission':transmission,'owner':owner,'price':price})
noida_cars24

,name,variant,fuel_type,history,kilometers_driven,transmission,owner,price
0,2013 Maruti Swift Dzire LDI BS IV MANUAL,LDI BS IV MANUAL,Diesel,Non-Accidental,"50,328 km",MANUAL,2nd Owner,"Fixed Price\n₹3,03,099"
1,2014 Mahindra Thar CRDE 4X4 BS IV MANUAL,CRDE 4X4 BS IV MANUAL,Diesel,Non-Accidental,"68,467 km",MANUAL,1st Owner,"Fixed Price\n₹5,22,599"
2,2013 Toyota Innova 2.5 GX 7 STR BS IV MANUAL,2.5 GX 7 STR BS IV MANUAL,Diesel,Non-Accidental,"1,58,147 km",MANUAL,1st Owner,"Fixed Price\n₹6,20,799"
3,2015 Ford Figo Aspire 1.5 AMBIENTE DIESEL MANUAL,1.5 AMBIENTE DIESEL MANUAL,Diesel,Non-Accidental,"94,959 km",MANUAL,1st Owner,"Fixed Price\n₹3,84,199"
4,2014 Maruti Swift Dzire VDI BS IV MANUAL,VDI BS IV MANUAL,Diesel,Non-Accidental,"98,109 km",MANUAL,1st Owner,"Fixed Price\n₹4,16,399"
...,...,...,...,...,...,...,...,...
427,2013 Maruti Swift VDI MANUAL,VDI MANUAL,Diesel,Non-Accidental,"67,231 km",MANUAL,1st Owner,"Fixed Price\n₹3,47,099"
428,2019 Maruti Baleno DELTA 1.2 K12 MANUAL,DELTA 1.2 K12 MANUAL,Petrol,Non-Accidental,"26,019 km",MANUAL,1st Owner,"Fixed Price\n₹6,89,199"
429,2013 Maruti Swift VDI MANUAL,VDI MANUAL,Diesel,Non-Accidental,"1,20,466 km",MANUAL,1st Owner,"Fixed Price\n₹3,04,299"
430,2015 Toyota Etios VX D MANUAL,VX D MANUAL,Diesel,Non-Accidental,"77,766 km",MANUAL,1st Owner,"Fixed Price\n₹4,80,499"
431,2019 Hyundai Creta 1.4 S CRDI MANUAL,1.4 S CRDI MANUAL,Diesel,Non-Accidental,"70,873 km",MANUAL,1st Owner,"Fixed Price\n₹10,48,699"

In [135]:
noida_cars=noida_cars24.drop_duplicates()
len(noida_cars)

409

In [136]:
noida_cars=noida_cars.to_csv('nida_cars24')

In [137]:
data=pd.read_csv('nida_cars24')
data

,Unnamed: 0,name,variant,fuel_type,history,kilometers_driven,transmission,owner,price
0,0,2013 Maruti Swift Dzire LDI BS IV MANUAL,LDI BS IV MANUAL,Diesel,Non-Accidental,"50,328 km",MANUAL,2nd Owner,"Fixed Price\n₹3,03,099"
1,1,2014 Mahindra Thar CRDE 4X4 BS IV MANUAL,CRDE 4X4 BS IV MANUAL,Diesel,Non-Accidental,"68,467 km",MANUAL,1st Owner,"Fixed Price\n₹5,22,599"
2,2,2013 Toyota Innova 2.5 GX 7 STR BS IV MANUAL,2.5 GX 7 STR BS IV MANUAL,Diesel,Non-Accidental,"1,58,147 km",MANUAL,1st Owner,"Fixed Price\n₹6,20,799"
3,3,2015 Ford Figo Aspire 1.5 AMBIENTE DIESEL MANUAL,1.5 AMBIENTE DIESEL MANUAL,Diesel,Non-Accidental,"94,959 km",MANUAL,1st Owner,"Fixed Price\n₹3,84,199"
4,4,2014 Maruti Swift Dzire VDI BS IV MANUAL,VDI BS IV MANUAL,Diesel,Non-Accidental,"98,109 km",MANUAL,1st Owner,"Fixed Price\n₹4,16,399"
...,...,...,...,...,...,...,...,...,...
404,405,2013 Maruti Swift VDI MANUAL,VDI MANUAL,Diesel,Non-Accidental,"1,22,500 km",MANUAL,1st Owner,"Fixed Price\n₹3,08,899"
405,406,2019 Maruti Vitara Brezza VDI MANUAL,VDI MANUAL,Diesel,Non-Accidental,"37,643 km",MANUAL,1st Owner,"Fixed Price\n₹8,08,499"
406,407,2019 Maruti Celerio VXI MANUAL,VXI MANUAL,Petrol,Non-Accidental,"35,615 km",MANUAL,1st Owner,"Fixed Price\n₹4,73,399"
407,408,2012 Maruti Swift VDI MANUAL,VDI MANUAL,Diesel,Non-Accidental,"1,30,190 km",MANUAL,1st Owner,"Fixed Price\n₹2,97,999"
408,409,2018 Maruti Baleno ZETA 1.2 K12 MANUAL,ZETA 1.2 K12 MANUAL,Petrol,Non-Accidental,"10,308 km",MANUAL,2nd Owner,"Fixed Price\n₹6,12,499"

In [ ]:
#chennai

In [25]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

url='https://www.cars24.com/'
driver.get(url)

In [26]:
#selecting location or city 
select_manual_location=driver.find_element_by_xpath('/html/body/div[1]/div[6]/div/div/div/div[2]/div[2]/button')

select_manual_location.click()

In [28]:
#selecting delhi location
chennai=driver.find_element_by_xpath('/html/body/div[1]/div[6]/div/div/div/div[2]/ul/li[8]')
chennai.click()

In [29]:
#clicking on view_all button
view_cars=driver.find_element_by_xpath('/html/body/div[1]/div[1]/header/div/div[2]/div/span')
view_cars.click()

In [30]:
#scroll buttom of the page
driver.execute_script("window.scrollTo(0, document.body.scrollHeight)")
time.sleep(30)

In [31]:
#url
urls5=[]

url=driver.find_elements_by_xpath('//a[@class="_9Ue0B"]')

for i in url:
    urls5.append(i.get_attribute('href'))

In [32]:
len(urls5)

560

In [33]:
price=[]
name=[]
owner=[]
kilometers_driven=[]
fuel_type=[]
history=[]
transmission=[]
variant=[]

def car24_chennai(clf):
    
    for url in clf:
        driver.get(url)
        time.sleep(1)
        try:
            nm = driver.find_element_by_xpath('//h2[@class="_2geSF"]')      # Extracting name from xpath
            name.append(nm.text)
        except NoSuchElementException:
            name.append('-')        
        #price
        time.sleep(1)
        try:
            prc=driver.find_element_by_xpath('//strong[@class="_2yYvS Wqfj6"]')
            price.append(prc.text)
        except NoSuchElementException:
            price.append('-')
        
        time.sleep(1)
        try:
            varnt = driver.find_element_by_xpath('//span[@class="_18vo2"]')     # Extracting variant from xpath
            variant.append(varnt.text)
        except NoSuchElementException:
            variant.append('-')
        
        #history
        time.sleep(3)
        try:
            hst=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[1]/strong')
            history.append(hst.text)
        except NoSuchElementException:
            history.append('-')    
        #owner
        time.sleep(1)
        try:
            ownr=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[2]/strong') 
            owner.append(ownr.text)
        except NoSuchElementException:
            owner.append('-')
        #kilomters driven
        time.sleep(1)
        try:
            klm=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[3]/strong')
            kilometers_driven.append(klm.text)
        except NoSuchElementException:
            kilometers_driven.append('-')
        #fuel type
        time.sleep(1)
        try:
            fl=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[4]/strong')
            fuel_type.append(fl.text)
        except NoSuchElementException:
            fuel_type.append('-')
        #transmission
        time.sleep(1)
        try:
            trsn=driver.find_element_by_xpath('//ul[@class="_2KO13"]/li[6]/strong')
            transmission.append(trsn.text)
        except NoSuchElementException:
            transmission.append('-')

In [34]:
car24_chennai(urls5)

In [35]:
len(price)

560

In [37]:
import pandas as pd
chennai_cars24=pd.DataFrame({'name':name,'variant':variant,'fuel_type':fuel_type,'history':history,'kilometers_driven':kilometers_driven,'transmission':transmission,'owner':owner,'price':price})
chennai_cars24

,name,variant,fuel_type,history,kilometers_driven,transmission,owner,price
0,2019 Renault Kwid 1.0 CLIMBER OPT MANUAL,1.0 CLIMBER OPT MANUAL,Petrol,Non-Accidental,"24,291 km",MANUAL,1st Owner,"Fixed Price\n₹4,72,699"
1,2019 Maruti Eeco 5 STR WITH AC PLUSHTR MANUAL,5 STR WITH AC PLUSHTR MANUAL,Petrol,Non-Accidental,"1,186 km",MANUAL,1st Owner,"Fixed Price\n₹4,93,899"
2,2014 Nissan Terrano XL PLUS 85 PS DEISEL MANUAL,XL PLUS 85 PS DEISEL MANUAL,Diesel,Non-Accidental,"1,96,061 km",MANUAL,1st Owner,"Fixed Price\n₹4,75,699"
3,2018 Ford Figo Aspire 1.2 TITANIUM PETROL MANUAL,1.2 TITANIUM PETROL MANUAL,Petrol,Non-Accidental,"20,539 km",MANUAL,1st Owner,"Fixed Price\n₹6,01,499"
4,2016 Maruti Ertiga VDI SHVS MANUAL,VDI SHVS MANUAL,Diesel,Non-Accidental,"86,671 km",MANUAL,1st Owner,"Fixed Price\n₹7,55,199"
...,...,...,...,...,...,...,...,...
555,2018 Hyundai NEW SANTRO 1.1 SPORTS AMT AUTOMATIC,1.1 SPORTS AMT AUTOMATIC,Petrol,Non-Accidental,"9,920 km",AUTOMATIC,1st Owner,"Fixed Price\n₹5,70,799"
556,2018 Hyundai NEW SANTRO 1.1 SPORTS AMT AUTOMATIC,1.1 SPORTS AMT AUTOMATIC,Petrol,Non-Accidental,"18,501 km",AUTOMATIC,1st Owner,"Fixed Price\n₹5,44,299"
557,2018 Tata Tiago XT 1.2 REVOTRON MANUAL,XT 1.2 REVOTRON MANUAL,Petrol,Non-Accidental,"23,813 km",MANUAL,1st Owner,"Fixed Price\n₹4,76,299"
558,2018 Ford Ecosport 1.5TITANIUM TDCI MANUAL,1.5TITANIUM TDCI MANUAL,Diesel,Non-Accidental,"38,617 km",MANUAL,1st Owner,"Fixed Price\n₹8,21,499"
559,2019 Maruti Swift LXI MANUAL,LXI MANUAL,Petrol,Non-Accidental,"10,412 km",MANUAL,1st Owner,"Fixed Price\n₹5,89,299"

In [38]:
chennai_cars24=chennai_cars24.to_csv('cars24_chennai')

In [40]:
data=pd.read_csv('cars24_chennai')
data.head()

,Unnamed: 0,name,variant,fuel_type,history,kilometers_driven,transmission,owner,price
0,0,2019 Renault Kwid 1.0 CLIMBER OPT MANUAL,1.0 CLIMBER OPT MANUAL,Petrol,Non-Accidental,"24,291 km",MANUAL,1st Owner,"Fixed Price\n₹4,72,699"
1,1,2019 Maruti Eeco 5 STR WITH AC PLUSHTR MANUAL,5 STR WITH AC PLUSHTR MANUAL,Petrol,Non-Accidental,"1,186 km",MANUAL,1st Owner,"Fixed Price\n₹4,93,899"
2,2,2014 Nissan Terrano XL PLUS 85 PS DEISEL MANUAL,XL PLUS 85 PS DEISEL MANUAL,Diesel,Non-Accidental,"1,96,061 km",MANUAL,1st Owner,"Fixed Price\n₹4,75,699"
3,3,2018 Ford Figo Aspire 1.2 TITANIUM PETROL MANUAL,1.2 TITANIUM PETROL MANUAL,Petrol,Non-Accidental,"20,539 km",MANUAL,1st Owner,"Fixed Price\n₹6,01,499"
4,4,2016 Maruti Ertiga VDI SHVS MANUAL,VDI SHVS MANUAL,Diesel,Non-Accidental,"86,671 km",MANUAL,1st Owner,"Fixed Price\n₹7,55,199"

In [ ]:
#cars from olx

In [3]:
#connect to web driver
driver=webdriver.Chrome(r'C:\Users\Aditya\OneDrive\Desktop\chromedriver.exe')

url='https://www.olx.in/'
driver.get(url)

In [4]:
#clicking on cars
click_on_cars=driver.find_element_by_xpath('//div[@class="_3AGJR _18NX_"]')
click_on_cars.click()

In [5]:
#click on load more button 
while True:
    try:
        btn=driver.find_element_by_xpath('//button[@class="rui-39-wj rui-3evoE rui-1JPTg"]')
        btn.click()
        time.sleep(2)
    except NoSuchElementException:break

In [6]:
#url
urls4=[]

url=driver.find_elements_by_xpath('//li[@class="_31j8e"]/a[1]')

for i in url:
    urls4.append(i.get_attribute('href'))

In [8]:
len(urls4)

500

In [10]:
price=[]
name=[]
owner=[]
kilometers_driven=[]
fuel_type=[]
transmission=[]
variant=[]

def cars_olx(clf):
    
    for url in clf:
        driver.get(url)
        time.sleep(1)
        try:
            nm = driver.find_element_by_xpath('//div[@class="_35xN1"]')      # Extracting name from xpath
            name.append(nm.text)
        except NoSuchElementException:
            name.append('-')        
        #price
        time.sleep(1)
        try:
            prc=driver.find_element_by_xpath('//div[@class="_3FkyT"]')
            price.append(prc.text)
        except NoSuchElementException:
            price.append('-')
       #variant
    
        time.sleep(1)
        try:
            varnt = driver.find_element_by_xpath('//div[@class="_3tLee"]')     # Extracting variant from xpath
            variant.append(varnt.text)
        except NoSuchElementException:
            variant.append('-')

        #owner
        time.sleep(1)
        try:
            ownr=driver.find_element_by_xpath('//div[@class="_1idEV"]/div[2]') 
            owner.append(ownr.text)
        except NoSuchElementException:
            owner.append('-')
        #kilomters driven
        time.sleep(1)
        try:
            klm=driver.find_element_by_xpath('//div[@class="aOxkz"]/div[2]')
            kilometers_driven.append(klm.text)
        except NoSuchElementException:
            kilometers_driven.append('-')
        #fuel type
        time.sleep(1)
        try:
            fl=driver.find_element_by_xpath('//div[@class="aOxkz"]/div[1]')
            fuel_type.append(fl.text)
        except NoSuchElementException:
            fuel_type.append('-')
        #transmission
        time.sleep(1)
        try:
            trsn=driver.find_element_by_xpath('//div[@class="aOxkz"]/div[3]')
            transmission.append(trsn.text)
        except NoSuchElementException:
            transmission.append('-')

In [15]:
urls4_100=urls4[0:100]
urls4_200=urls4[100:200]

In [14]:
cars_olx(urls4_100)

In [16]:
cars_olx(urls4_200)

In [28]:
len(name)

308

In [32]:
name=name[0:307]

In [33]:
len(name)

307

In [34]:
import pandas as pd
car_olx=pd.DataFrame({'name':name,'owner':owner,'fuel_type':fuel_type,'transmission':transmission,'variant':variant,'kilometers_driven':kilometers_driven,'price':price})
car_olx

,name,owner,fuel_type,transmission,variant,kilometers_driven,price
0,Maruti Suzuki Vitara Brezza (2016),1st,DIESEL,MANUAL,ZDi Plus Dual Tone,52000.0 KM,"₹ 6,99,999"
1,Toyota Innova Crysta (2018),1st,DIESEL,MANUAL,2.4 V,38000.0 KM,"₹ 21,50,000"
2,Honda City (2010),1st,PETROL,MANUAL,2008-2011 1.5 E MT,79521.0 KM,"₹ 4,10,000"
3,Maruti Suzuki Ritz (2016),Third,PETROL,MANUAL,LXi,200000 KM,"₹ 2,10,000"
4,Hyundai Accent (2006),First,PETROL,MANUAL,Others,90000 KM,"₹ 1,40,000"
...,...,...,...,...,...,...,...
302,Toyota Innova (2013),--,DIESEL,MANUAL,1.2 CRDi Magna,73000.0 KM,"₹ 2,39,000"
303,Hyundai Grand I10 (2013),2nd,PETROL,MANUAL,SX Option iMT,13500.0 KM,"₹ 10,00,000"
304,Hyundai Venue (2020),1st,PETROL,MANUAL,Asta 1.0 Turbo iMT,17700.0 KM,"₹ 9,50,000"
305,Hyundai I20 (2021),1st,DIESEL,AUTOMATIC,W11 Option AT,12650.0 KM,"₹ 19,00,000"
306,Mahindra Xuv500 (2019),2nd,PETROL,AUTOMATIC,E 200 CGI,79000.0 KM,"₹ 11,00,000"

In [37]:
car_olx1=car_olx.drop_duplicates()
len(car_olx1)

307

In [38]:
car_olx1.to_csv('olx_cars')

In [39]:
data=pd.read_csv('olx_cars')
data

,Unnamed: 0,name,owner,fuel_type,transmission,variant,kilometers_driven,price
0,0,Maruti Suzuki Vitara Brezza (2016),1st,DIESEL,MANUAL,ZDi Plus Dual Tone,52000.0 KM,"₹ 6,99,999"
1,1,Toyota Innova Crysta (2018),1st,DIESEL,MANUAL,2.4 V,38000.0 KM,"₹ 21,50,000"
2,2,Honda City (2010),1st,PETROL,MANUAL,2008-2011 1.5 E MT,79521.0 KM,"₹ 4,10,000"
3,3,Maruti Suzuki Ritz (2016),Third,PETROL,MANUAL,LXi,200000 KM,"₹ 2,10,000"
4,4,Hyundai Accent (2006),First,PETROL,MANUAL,Others,90000 KM,"₹ 1,40,000"
...,...,...,...,...,...,...,...,...
302,302,Toyota Innova (2013),--,DIESEL,MANUAL,1.2 CRDi Magna,73000.0 KM,"₹ 2,39,000"
303,303,Hyundai Grand I10 (2013),2nd,PETROL,MANUAL,SX Option iMT,13500.0 KM,"₹ 10,00,000"
304,304,Hyundai Venue (2020),1st,PETROL,MANUAL,Asta 1.0 Turbo iMT,17700.0 KM,"₹ 9,50,000"
305,305,Hyundai I20 (2021),1st,DIESEL,AUTOMATIC,W11 Option AT,12650.0 KM,"₹ 19,00,000"
306,306,Mahindra Xuv500 (2019),2nd,PETROL,AUTOMATIC,E 200 CGI,79000.0 KM,"₹ 11,00,000"